*{
	letter-spacing:0.5px;
	font-family:"SimHei",黑体；
}
body{
background-color: #fafafa;
}
.content{
	margin: 0 auto;
	width: 1100px;
}
.left-content{
	width: 850px;
	float: left;
}
.right-content{
	margin-top: 60px;
	width: 200px;
	float: right;
}
.left-content-header{
	width: 800px;
	height: 40px;
	margin: auto;
	
}
.left-content-header p{
	text-align:center;
	font-size: 21px;
	color: #505050;
}

.content-main-menu{
	background-color: #0cc8d9;
	height: 40px;
}
.menu-description{
	margin-left: 10px;
	float: left;
	width: 80px;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
}

.option{
	margin-top: 7px;
	margin-right: 10px;
	width: 110px;
	height: 26px;
	float: left;
	font-size: 16px;
	line-height: 26px;
	text-align:center;
	border-radius: 9px;
	list-style:none;
}
.option a{
	color: #ffffff;
}
.search{
	width: 220px;
	line-height: 40px;
	float: right;
}
.searchText{
	float: left;
	width: 180px;
}
.searchImg{
	float: left;
}
.searchImg img{
	margin-top: 5px;
}
a:link{
	text-decoration:none;
} 
.post{
	height: 200px;
	border-style:solid; 
	border-width:0px 1px 1px 1px; 
	border-color:#e5e5e5;
	background-color: #ffffff;
}
.post-content{
	width: 730px;
	height: 200px;
	margin-left: 20px;
	float: left;
}
.top{
	padding-top: 10px;
	height: 30px;
}
.post-information{
	height: 40px;
	width: 350px;
	line-height: 40px;
	float: left;
	color: #808080;
	font-size: 14px;
}
.post-information a{
	color: #808080;
	font-size: 14px;
}
.reward{
	width: 50px;
	margin-left: 10px;
	float: left;
	line-height: 40px;
	color: #a6a6a6;
	font-size: 14px;
}
.reward-value{
	margin-top: 5px;
	text-align:center;
	width: 30px;
	height: 30px;
	background-color: #f2858e;
	color: #ffffff;
	float: left;
	line-height: 30px;
}
.praise{
	margin-left: 40px;
	width: 30px;
	float: left;
	line-height: 40px;
	color: #a6a6a6;
	font-size: 14px;
}
.praise-value{
	margin-top: 5px;
	text-align:center;
	width: 30px;
	height: 30px;
	background-color: #f2858e;
	color: #ffffff;
	float: left;
	line-height: 30px;
}
.question{
	color:#000000; 
}
.post-description{
	line-height: 25px;
	text-indent:30px;
	font-size: 14px;
	color: #808080;
}
.post-tags a{
	float: left;
	margin-right: 20px;
	color: #a6a6a6;
	border-radius: 12px;
	border-style:solid; 
	border-width:1px; 
	border-color:#a6a6a6;
	text-align: center;
	display:table;
}
.answer_num{
	text-align: center;
	width: 65px;
	height: 65px;
	float: left;
	font-size: 15px;
	color: #ffffff;
	background-color: #f2858e;
	line-height: 20px;
	padding-top: 5px;
}
.ask{
	width: 140px;
	height: 35px;
	font-size: 17px;
	line-height: 35px;
	margin: auto;
	text-align:center;
	background-color: #0cc8d9;
	border-radius: 12px;
}
.ask a{
	color: #ffffff;
}
.tags{
	margin-top: 15px;
	border-style:solid; 
	border-width:1px; 
	border-color: #e5e5e5;
}
.tags-title{
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align:center;
}
.tags ul{
	margin-top: 0px;
	padding-left:0px;
	margin-bottom: 0px;
}
.tags ul li{
	display:block;
	width: 194px;
	height: 30px;
	padding-left: 5px;
	line-height: 30px;
}
.tags ul li:nth-child(2n+1){
	background-color: #64505050;
}