<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utunan.mapper.share.ShareIndexMapper">
    <resultMap id="fileResultMap" type="com.utunan.pojo.base.share.File">
        <id property="fileId" column="fileId"/>
        <result property="quizTitle" column="quizTitle"/>
        <result property="userId" column="userId"/>
        <result property="fileTime" column="fileTime"/>
        <result property="downloadNumber" column="downloadNumber"/>
        <result property="fileTitle" column="fileTitle"/>
        <result property="fileUrl" column="fileUrl"/>
        <result property="fileType" column="fileType"/>
        <result property="fileSchool" column="fileSchool"/>
        <result property="fileCredit" column="fileCredit"/>
        <result property="suffixId" column="suffixId"/>
        <result property="isExamine" column="isExamine"/>
        <association property="user" javaType="com.utunan.pojo.base.user.User">
            <id property="userId" column="userId"></id>
            <result property="userEmail" column="userEmail"/>
            <result property="userTelephone" column="userTelephone"/>
            <result property="userPassword" column="userPassword"/>
            <result property="userIdentity" column="userIdentity"/>
            <result property="examTime" column="examTime"/>
            <result property="registerTime" column="registerTime"/>
            <result property="userHeadImg" column="userHeadImg"/>
            <result property="userNickName" column="userNickName"/>
            <result property="userSchool" column="userSchool"/>
            <result property="dreamSchool" column="dreamSchool"/>
            <result property="userIntegral" column="userIntegral"/>
        </association>
        <association property="suffix" javaType="com.utunan.pojo.base.share.Suffix">
            <id property="suffixId" column="suffixId"></id>
            <result property="suffixName" column="suffixName"/>
            <result property="imgUrl" column="imgUrl"/>
        </association>
    </resultMap>
    <!--按上传时间查询文件-->
    <select id="listFileByTime" resultMap="fileResultMap">
        select *
        from file f
        join user u on f.userId=u.userId
        join suffix s on f.suffixId=s.suffixId
        where f.isExamine=1
        order by f.fileTime desc
    </select>
    <!--按下载数量查询前15个文件-->
    <select id="listHotFile" resultMap="fileResultMap">
        select *
        from file f
        join user u on f.userId=u.userId
        join suffix s on f.suffixId=s.suffixId
        where f.isExamine=1
        order by f.downloadNumber desc
        limit 15
    </select>
    <!--查询学校地区-->
    <select id="listSchoolProvince" resultType="java.lang.String">
        select schoolProvince
        from school
        group by schoolProvince
    </select>
    <!--查询学校-->
    <select id="listSchool" resultType="com.utunan.pojo.base.school.School">
        select *
        from school
    </select>
    <!--根据条件筛选文件-->
    <select id="selectFile" resultMap="fileResultMap">
        select *
        from file
        where fileType REGEXP #{fileType}
        and fileSchool like #{fileSchool}
        and fileTitle REGEXP #{keyWord}
    </select>
</mapper>