.area{
    width:200px;
}
.school{
    width:300px;
    margin-top: 10px;
}
.city{
    float:left;
    width:40px;
}
.school{
    float:left;
}
.layui-input, .layui-textarea {
    width: 30%;
}
.layui-form-select .layui-edge {
    right: 71%;
}
.layui-form-select dl {
    min-width: 30%;
}
#filesearch{
    margin:0;
    float:left;
    margin-left: 42px;
}
.optionName{
    float:left;
    padding-left: 20px;
}
.options{
    padding-bottom: 20px;
}