.area{
    width:200px;
}
.school{
    width:300px;
    margin-top: 10px;
}
.city{
    float:left;
    width:40px;
}
.school{
    float:left;
}
.layui-input, .layui-textarea {
    width: 30%;
}
.layui-form-select .layui-edge {
    right: 71%;
}
.layui-form-select dl {
    min-width: 30%;
}
#filesearch{
    margin:0;
    float:left;
    margin-left: 42px;
}
.optionName{
    float:left;
    padding-left: 20px;
}
.options{
    padding-bottom: 20px;
}
.tn{
    float:left;
    font-weight: bold;
    padding-left: 20px;
    font-size: 15px;
}
.un{
    padding-left: 20px;
    color: darkgray;
}
.ft{
    color: darkgray;
    border-style: solid;
    border-color: #dfdfdf;
    border-width: 1px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding: 3px;
    margin: 10px;
}
.fs{
    color: darkgray;
    border-style: solid;
    border-color: #dfdfdf;
    border-width: 1px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding: 3px;
}
.siffix{
    float:left;
    width:40px;
    padding-top: 5px;
}
.credit{
    width:20px;
    padding-right: 10px;
    padding-bottom: 4px;
}
.downNum{
    width:25px;
    padding-right: 5px;
    padding-bottom: 4px;
}
.rightdetail{
    float:right;
    font-size: 17px;
    color: darkgoldenrod;
}
.list li {
    height: 45px;
}
.topdetail{
    padding-bottom: 10px;
}
.fc{
    padding-right: 15px;
}
.dn{
    padding-right: 15px;
}
.fly-list-one dd {
    line-height: 40px;
}
.fs a:link {
    color: darkgray;
}
.ft a:link {
    color: darkgray;
}
.fs a:hover {
    color: RGB(255,87,34);
}
.ft a:hover {
    color: RGB(255,87,34);
}