body {
    margin: 0;
    max-width: 100%;
}
header {
    min-width: 1180px;
    height: 100%;
    margin: 0 auto;
    background: #393D49;
}
a{
    cursor: pointer;
}
.container {
    width: 100%;
    min-width: 1180px;
    float: left;
}

.wrapper {
    max-width: 1000px;
    min-width: 960px;
    margin: 0 auto;
}

.header {
    width: 100%;
    float: left;
    height: 50px;
}

.header .logo {
    padding-left: 40px;
    float: left;
    width: 50px;
    height: 50px;
}

.header .logo img {
    float: left;
    margin: 10px 10px 10px 0;
    height: 30px;
}

.loginname {
    float: left;
    font-size: 20px;
    margin: 5px 0px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #ffffff;
}


.header .search {
    height: 100%;
    float: right;
    position: relative;
}

.header .search .text {
    padding: 0 10px 0 20px;
    background: #fff;
    border-radius: 50px;
    height: 30px;
    width: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header .search .text input {

    line-height: 40px;
    padding: 0;
    outline: none;
    float: left;
    height: 30px;
    width: 130px;
    margin: 0px;
    border: 0px;
}

.header .search .text button {
    cursor: pointer;
    height: 30px;
    outline: none;
    width: 30px;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    float: left;
}

.header .search .text img {
    padding: 5px 0;
    height: 20px;
}

.header .login {
    padding: 0 40px 0 40px;
    height: 100%;
    line-height: 50px;
    width: 150px;
    float: right;
}

.header .login a:link,
.header .login a:hover,
.header .login a:visited {
    color: #ffffff;
    text-decoration: none;
}

.header .login span {
    font-size: 18px;
    float: left;
    width:75px;
    height: 50px;
}
.header .login span:first-of-type {
    font-size: 18px;
    float: left;
    width:75px;
    height: 50px;
    overflow: hidden;
}
.header .before span:first-of-type a {
    font-size: 18px;
    padding:3px;
    margin-left: 20px;
    height: 30px;

}
.header .before span:last-of-type a {
    font-size: 18px;
    padding:3px;
    height: 30px;
}

.header .after>span:first-of-type>a{
    margin-left: 12px;
    font-size: 12px;
    float: left;
    height: 50px;
    line-height: 50px;
}
.header .after>span:last-of-type{
    position: relative;
    position: relative;
    position: relative;
}

.header .after>span:last-of-type>a{
    padding-left: 10px;
    font-size: 14px;
    float: left;
    height: 50px;
    line-height: 50px;
}

.header .after>span:first-of-type a>img{
    height: 30px;
    margin: 10px 0;
}

.header .after>span:last-of-type>a> img{
    height: 36px;
    margin:5px 0;
    border-radius: 20px;
    border:2px solid #ffffff;
}

.userheadop{
    display: none;
    position: absolute;
    top:50px;
    border:1px solid #CCCCCC;
    right: 20px;
    padding:0 10px 10px 10px;
    background: rgba(255,255,255,1);
    height: 210px;
    width:220px;
    z-index:100;
}


.header .banner {
    max-width: 650px;
    margin: 0 auto;
    height: 50px;
    text-align: center;
}


.header .banner>li {
    display: inline;
    padding-left:40px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
}

.header .banner a:link,
.header .banner a:hover,
.header .banner a:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.header .optop{
    float: left;
    height: 30px;
    padding: 5px 0;
    border-bottom:1px solid #C0C0C0;
}

.header .optop span{
    height: 30px;
    line-height: 30px;
}

.header .optop span:first-of-type{
    cursor:default;
    color: #fc8c23;
    float: left;
    width: 135px;
    padding-left: 10px;
    font-size: 13px;
}
.header .optop span:last-of-type{

    float: left;
    width: 70px;
    font-size: 14px;
}

.header .optop span:last-of-type>a{
    float: left;
    width: 60px;
    height: 20px;
    border:2px solid rgba(23, 85, 210,0.5);
    line-height: 20px;
    margin:3px;
    font-size: 12px;
    padding:1px 3px;
    text-align: center;
    border-radius: 4px;
    color: rgba(23, 85, 210,0.5);
}

.header .opmiddle{
    float: left;
    padding-bottom: 5px;
    border-bottom:1px solid #C0C0C0;
}

.header .opimg{
    float: left;
    width: 70px;
    height: 45px;
}

.header .opimg>a>img{
    height: 40px;
    width: 40px;
    margin: 5px 15px 0 15px;
}

.opimg>a{
    height: 45px;
    float: left;
    font-size: 12px;
    color:#000;
}
.opimg>a:hover,.opimg>a:link,.opimg>a:visited{
    color:#000;
}
#oplistone{
    float: left;
    height: 20px;
    text-align: center;
}

#oplistone>a{
    text-align: center;
    line-height: 20px;
    width: 70px;
    height: 20px;
    float: left;
    font-size: 13px;
    color:#10aec2;
}
#oplisttwo{
    float: left;
    height: 20px;
    text-align: center;
}

#oplisttwo>a{
    text-align: center;
    line-height: 20px;
    width: 70px;
    height: 20px;
    float: left;
    font-size: 13px;
    color:#10aec2;
}
.opbottom{
    float: left;
    width: 200px;
    height: 30px;
    padding:5px 10px;
}
#opbottom>span{
    height: 30px;
    width: 100px;
    float: left;
}
.opbottom>span>img{
    height: 20px;
    width: 20px;
    margin:5px;
    float: left;
}
#opbottom>span:first-of-type>a{
    width:60px;
    font-size: 15px;
    color:#fc8c23;
    line-height: 30px;
    float: left;
    height: 30px;
}
#opbottom>span:last-of-type>a{
    width:60px;
    font-size: 15px;
    color:grey;
    line-height: 30px;
    float: left;
    height: 30px;
}


.footer{
    margin-top:50px;
    padding-top:40px;
    padding-bottom:20px;
    border-top:1px solid #C0C0C0;
    clear: both;
    float: left;
    width: 100%;
    min-width: 1180px;
}
footer{
    min-width: 1180px;
    margin: 0 auto;
}
footer>nav{
    height:40px;
    width: 600px;
    margin:0 auto;
}
footer>nav>li{
    display: inline;
    width: 150px;
    float: left;
    text-align: center;
}
footer>p{
    width: 600px;
    text-align: center;
    margin:0 auto;

}
footer>nav>li>a{
    text-decoration: none;
    color:rgba(0,188,155,1);
}
.page {
    position: relative;
    bottom:0px;
    clear: both;
    padding: 15px 0 10px 0;
    height: 30px;
    width: 100%;
    text-align: center;
}
#messagecount{
    position: absolute;
    top:0px;
    z-index: 100;
    width: 16px;
    height: 16px;
    margin-left:20px;
    margin-top:8px;
    border-radius: 10px;
    line-height: 16px;
    text-align: center;
    background-color: tomato;
    font-size: 12px;
    color: #ffffff;;
}
.page>li {
    text-align: center;
    display:inline-flex;
    margin: 0 auto;
    width: 30px;
    padding:3px 5px;
    border:1px solid rgba(0,188,155,1);;
    background-color: #ffffff;
    border-radius: 3px;
    margin-right: 2px;
}

.page>li>a {
    width: 100%;
    float: left;
    color: rgba(0,188,155,1);;
    text-decoration: none;
}

.page>.home {
    width: 60px;
}
.page>.prev {
    width: 60px;
}
.page>.next {
    width: 60px;
}
.page>.tail {
    width: 60px;
}