.header{
    top:0;
    position: absolute;
}
.homepageimg{
    width: 100%;
}
.homepageimg>img{
    width: 100%;
}
.propaganda{
    position: absolute;
    top:0;
    padding-top:200px;
    left: 100px;
    height: 200px;
    min-width: 800px;
    font-size: 30px;
    font-weight: bold;
    color:#fff;
}
.mainplate{
    margin-top:30px;
    margin-bottom: 50px;
    width: 100%;
    float: left;
}

.mainplate>div{
    width: 200px;
    height: 200px;
    float: left;
}
.mainplate>div>a{
    margin-left: 50px;
    width: 150px;
    text-align: center;
    float: left;
    text-decoration: none;
    color:#000;
    font-weight: bold;
    font-size: 20px;
}
.mainplate>div img{
    padding: 15px;
    padding-bottom: 5px;
    border-bottom: 5px solid #9c9ea5;
    height: 120px;
}
#summary{
    width: 360px;
}
.summary{
    float: left;
    width: 360px;
    height: 200px;
    background: url(../images/homepage/cirtle.png);
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
}

.plateinfo{
    height: 80px;
    width: 230px;
    margin:60px 0 60px 40px;
    background: rgba(67, 126, 170, 1);
    line-height: 80px;
    font-size: 30px;
    font-weight: bold;
    color:#fff;
    text-align: center;
}

.imgsign{
    font-weight: bold;
    font-size: 35px;
    position: absolute;
    left: 100px;
    line-height: 60px;
    text-align: center;
    top:180px;
}

.questionbank{
    clear: both;
    width: 100%;
    background: rgba(155, 209, 242, 1);
}

.questionbank>.wrapper{
    max-width: 1180px;
    min-width: 1180px;
    height: 200px;
    margin:0 auto;
}

.questionbank>.wrapper>div:first-child{
    position: relative;
    left: 0;
    float: left;
    width: 280px;
    height: 200px;
}
.qbmiddle{
    float: left;
    background:rgba(232, 245, 253, 1);
    position: relative;
    top:-20px;
    width:600px;
    margin:0 10px;
    height: 240px;
}
.questionbank>.wrapper>div:last-child{
    position: relative;
    float: right;
    right: 0;
    width: 280px;
    height: 200px;
}

.questionbank nav{
    list-style-type: none;
}

.questionbank nav>li a{
    color:#fff;
    text-decoration: none;
}

.questionbank nav>li{
    line-height: 50px;
}
.qbleft>nav>li{
    clear: both;
    float: right;
}
.qbmiddle>img:first-child{
    float: left;
    margin:20px 0 20px 20px;
}
.qbmiddle>h4{
    float: left;
    font-size: 30px;
    margin:20px 0 0 0;
    width: 380px;
    text-align: center;
}
.qbmiddle>p{
    padding:0 10px;
    font-size: 20px;
    width: 360px;
    float: right;
}
.schoolsearch{
    margin-top:80px;
    background: url(../images/homepage/schoolbg.jpg);
    background-size: 2000px 468px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: aliceblue;
    height: 468px;
}
.schoolsearch>img{
    position: relative;
    top:-320px;
    opacity: 0.6;
    width: 100%;
}
.schoolsearch>.wrapper{
    z-index: 10;
    position: relative;
    top:80px;
}
.schoolsearch h2{
    color:#000;
    text-align: center;
    margin-bottom:50px;
}
.schoolsearch form>span{
    color:#000;
    font-size: 20px;
    width: 200px;
    padding-right: 0px;
}

.schoolsearch p{
    text-align: center;
    margin-top:80px;
}

.searchschoolinfo{
    font-size: 18px;
    color:#718cee;
    cursor: pointer;
    background: #fff;
    border-radius: 50px;
    outline: none;
    border:0;
    width:70px;
    height: 40px;
    margin:20px 60px;
    float: right;
}

.allschoolinfo{
    margin:0 auto;
    width: 200px;
    height:50px;
    outline: none;
    border:0;
    border-radius: 50px;
    margin:50px 380px;
    color:#718cee;
    cursor: pointer;
    background: #fff;
    font-size: 18px;
}
.community{
    margin-top:30px;
}
.commtop>img{
    float: left;
    height: 150px;
    margin-left: 350px;
}
.commtop>h4{
    padding-left: 40px;
    margin-top:65px;
    float: left;
    font-size: 25px;
}
.community>.wrapper>p{
    padding-top:30px;
    font-weight: bold;
    clear: both;
    width: 100%;
    text-align:center;
}
.commoncon{
    margin-top:40px;
    width: 100%;
}
.commoncon>.comment{
    float: left;
    border-radius:10px;
    width: 300px;
    height: 180px;
    background: rgba(67, 126, 170, 1);
}
.branch{
    float: left;
    width: 600px;
    height: 180px;
    background: url(../images/homepage/branch.png);
    background-repeat: no-repeat;
    background-size: 600px 120px;
    background-position: left center;
}
.comment>p{
    margin-top:20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.footer{
}
#homepage>li>a{
    color:#000;
}

.branch>div>p{
    padding:0 45px 0 15px;
    font-size: 12px;
    text-align: center;
    color:grey;
}

.branch>div>h5{
    padding:0 20px;
    font-size: 12px;
    color:#000;
}

.branch>.one{
    margin-top:10px;
    margin-left: 40px;
    width: 175px;
    float: left;
}
.branch>.two{
    width: 175px;
    float: left;
}
.branch>.three{
    width: 150px;
    float: left;
}
.branch>.four{
}