*{
	letter-spacing:0.5px;
	font-family:"SimHei",黑体；
}
body{
	background-color: #fafafa;
}
.content{
	margin: 0 auto;
	width: 1000px;
}
.question{
    margin-top: 30px;
    width: 1000px;
    height: 380px;
    background-color: #ffffff;
    border-style:solid; 
	border-width:2px; 
	border-color:#e5e5e5;
}
.post-top{
    height: 40px;
    width: 950px;
    margin: 0 auto;
    margin-top: 10px;
}
.question-title{
    line-height: 40px;
    color: #505050;
    font-size: 24px;
    float: left;
    font-weight: bold;
}
.post-information{
    float: right;
    font-size: 14px;
    color: #505050;
}
.post-information img{
    border-radius: 17px; 
    margin-top: 2px;
    float: left;
}  
.post-information a{
    color: #383838;
    font-size: 15px;
    float: left;
    line-height: 40px;
    margin-left: 10px;
}
.informationwords{
    line-height: 40px;
    float: left;
    margin-left: 15px;
}
.post-tags{
    margin-top: 10px;
    width: 950px;
    height: 30px;
    margin: 0 auto;
}
.post-tags a{
	float: left;
	margin-right: 20px;
	color: #a6a6a6;
	border-radius: 12px;
	border-style:solid; 
	border-width:1px; 
	border-color:#a6a6a6;
	text-align: center;
    display:table;
    text-decoration: none;
    padding-bottom: 2px;
    padding-top: 2px;
}
.question-content{
    width: 950px;
    height: 200px;
    border-style:solid; 
	border-width:1px; 
    border-color:#a6a6a6;
    margin: 0 auto;
    color: #505050;
    font-size: 14px;
    line-height: 200%;
    text-align: left;
    padding-left: 5px;
}
.post-bottom{
    width: 950px;
    height: 35px;
    background-color: aquamarine;
    margin: 0 auto;
}
.praise{
    line-height: 35px;  
    float: left; 
    margin-right: 15px;
    font-weight: bolder;
    color: #f2858e;
    font-size: 14px;
}
.post-bottom img{
    float: left;
}
.give-praise{
    color: #64a6a6a6;
    line-height: 35px;
    font-size: 14px;
    float: left; 
    margin-left: 7px;
}