.bigwrapper{
    max-width: 1080px;
    min-width: 1080px;
    margin: 0 auto;
}
header{
    background-color:rgba(51, 153, 153, 1) ;
}


.title{
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    color:rgba(105, 196, 196, 1);
    width: 100%;
    height: 40px;
    padding:15px 0 5px 0;
    float: left;
    font-weight: bold;
    border-bottom: 3px solid rgba(105, 196, 196, 1);
}

.retrieval{
    margin-top:30px;
    width: 100%;
    float: left;
    height: 500px;
}
.conditiontype{
    height: 30px;
    float: left;

}

.conditiontype>span{
    font-size: 12px;
    line-height: 28px;
    float: left;
    height: 28px;
    padding:0 20px;
    text-align: center;
    color:rgba(80, 80, 80, 1);
    cursor: pointer;
}
.conditiontype>span:first-of-type{
    border:2px solid #909090;
    border-right:1px solid #909090;
}
.conditiontype>span:last-of-type{
    border:2px solid #909090;
    border-left:1px solid #909090;
}
#cactive{
    color:#fff;
    background: rgba(45, 128, 221, 1);
    border:2px solid rgba(45, 128, 221, 1);
    border-right:1px solid rgba(45, 128, 221, 1);
}
.condition{
    border:2px solid #909090;
    clear: both;
    float: left;
    width: 1040px;
    padding:20px 20px;
}
.condition>div>span:first-of-type{
    color:rgba(80, 80, 80, 1);
    clear: both;
    float: left;
    height: 30px;
    letter-spacing:2px;
    line-height: 30px;
    width: 130px;
    text-align: right;
}

.schoolProvince{
    height: 128px;
}
.schoolProvince>nav{
    margin-top:3px;
    margin-left: 20px;
    width:800px;
    float: left;
}

.schoolType{
    clear: both;
}
.schoolProvince>nav>li{
    color:#2376b7;
    font-size: 14px;
    float: left;
    width: 68px;
    display:inline-flex;
    padding:4px;
    border-radius: 5px;
    margin-bottom:4px;
}
.schoolProvince>nav>li>a{
    color:#909090;
    text-decoration: none;
}
.schoolType{
    float: left;
    height: 30px;
    line-height: 30px;
}
.schoolType>nav{
    margin-left: 25px;
    float: left;
}

.schoolType>nav>li>input{
    background-color:green;
    height: 29px;
    margin: 1px 5px 0 0;
}
.schoolType>nav>li{
    float: left;
    height: 30px;
    line-height: 30px;
    display:inline-flex;
    padding-left:5px;
    padding-right: 20px;
}
.degreeType{
    clear: both;
    
    line-height: 30px;
    height: 30px;
    float: left;
}
.degreeType>nav{
    margin-left: 25px;
    float: left;
}

.degreeType>nav>li>input{
    background-color:green;
    height: 29px;
    margin: 1px 5px 0 0;
}
.degreeType>nav>li{
    float: left;
    height: 30px;
    line-height: 30px;
    display:inline-flex;
    padding-left:5px;
    padding-right: 20px;
}
.scope{
    clear: both;
    float: left;
}
.scope>nav{
    margin-left: 20px;
    float: left;
}
.scope>nav>li{
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    padding-left:5px;
    padding-right: 20px;
}
.scope>nav>li>nav>li{
    display: inline-flex;
}
.scope>nav>li>nav>li>input{
    height: 30px;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, 
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(244, 249, 255, 1);
 }