.text{
    width: 100%;
    height: 260px;
    margin-top: 10px;
    line-height: 20px;
    position: relative;
    border: #cccccc solid 1px;
}
.toolbar{
	width: 100%;
	height: 25px;
	border-style:solid;
	border-width:0px 0px 1px 0px;
	border-color:#e5e5e5;
}
.toolbar img{
	float: left;
	margin-right: 5px;
}
.more{
    float: right;
    margin-right: 10px;
}
.question-content{
    width: 100%;
	font-size: 16px;
	float: left;
	height: 230px;
	flex: 1;
	padding: 0;
	overflow: hidden;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
    background: transparent;
    border:none;
	outline: none;
    resize: none;
    padding: 6px 10px;
}