.detail h1 {
    font-size: 24px;
    line-height: 36px;
    padding-top: 10px;
}
.detail-body p {
    margin-bottom: 15px;
    font-size: 14px;
    margin-right: 5px;
    line-height: 2;
}
.quiztoobar{
    height:20px;
    float:left;
}
.fly-list-nums{
    float:left;
}
.re{
    width:20px;
}
.re_num{
    float:left;
}
.collect{
    float:left;
    padding-left: 17px;
}
#good{
    float:left;
    font-size:13px;
    padding-left: 4px;
}
.detail-body {
    margin: 20px 0 0;
    position: relative;
    line-height: 26px;
    font-size: 16px;
    color: #333;
    word-wrap: break-word;
}
.detail-body{
    min-height: 70px;
}
.collection{
    font-size: 13px;
}
.write-reply{
    font-size: 13px;
}
.detail-body {
    min-height: 30px;
}
.detail-box {
    overflow: hidden;
}
.commentlist{
    padding-left:10px;
}
.comments{
    padding-top: 10px;
}
#haha{
    margin-bottom: 0px;
}
.comments-number .answers-num{
    float:left;
}

.right{
    float:right;
    font-size: 13px;
}
.right option{
    font-size: 13px;
}
.close{
    float:right;
    padding-right: 20px;
}
.write-answer{
    margin-top: 25px;
}
.write-answer-top{
    height: 25px;
    margin: 0 auto;
    margin-top: 15px;
}
.write-answer-top img{
    float: left;
}
.write-answer-top-word{
    float: left;
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
    color: #0cc8d9;
    margin-left: 5px;
}
.write-answer-top {
    margin-bottom: 20px;
}
.slogen{
    margin:0 auto;
    text-align: center;
    color:RGB(0,150,136);
}
.view-comments{
    color:darkgrey;
}
.sequencing-principle{
    float:right;
}