*{
	letter-spacing:0.5px;
	font-family:"SimHei",黑体；
}
body{
	background-color: #fafafa;
}
.content{
	margin: 0 auto;
	width: 1000px;
    padding-top: 80px;
}
.question{
    width: 1000px;
    height: 360px;
    background-color: #ffffff;
    border-style:solid; 
	border-width:2px; 
	border-color:#e5e5e5;
}
.post-top{
    height: 40px;
    width: 950px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
}
.question-title{
    line-height: 40px;
    color: #505050;
    font-size: 24px;
    float: left;
    font-weight: bold;
}
.post-information{
    float: right;
    font-size: 14px;
    color: #505050;
}
.post-information img{
    border-radius: 17px; 
    margin-top: 2px;
    float: left;
}  
.post-information a{
    color: #383838;
    font-size: 15px;
    float: left;
    line-height: 40px;
    margin-left: 10px;
}
.informationwords{
    line-height: 40px;
    float: left;
    margin-left: 15px;
}
.post-tags{
    width: 950px;
    height: 30px;
    margin: 0 auto;
}
.post-tags a{
	float: left;
	margin-right: 20px;
	color: #a6a6a6;
	border-radius: 12px;
	border-style:solid; 
	border-width:1px; 
	border-color:#a6a6a6;
	text-align: center;
    display:table;
    text-decoration: none;
    padding-bottom: 2px;
    padding-top: 2px;
}
.question-content{
    width: 950px;
    height: 200px;
    margin: 0 auto;
    color: #505050;
    font-size: 14px;
    line-height: 200%;
    text-align: left;
    padding-left: 5px;
}
.post-bottom{
    width: 950px;
    height: 35px;
    margin: 0 auto;
    margin-top: 20px;
}
.praise{
    line-height: 35px;  
    float: left; 
    font-weight: bolder;
    color: #f2858e;
    font-size: 14px;
}
.post-bottom img{
    float: left;
    margin-left: 15px;
}
.give-praise{
    color: #64a6a6a6;
    line-height: 35px;
    font-size: 14px;
    float: left; 
    margin-left: 7px;
}
.collection{
    color: #64a6a6a6;
    line-height: 35px;
    font-size: 14px;
    float: left; 
    margin-left: 7px;
}
.write-reply{
    color: #64a6a6a6;
    line-height: 35px;
    font-size: 14px;
    float: left; 
    margin-left: 7px;
}
.answers{
    margin-top: 20px;
    width: 1000px;
    height: 40px;
    background-color: #ffffff;
    border-style:solid; 
	border-width:2px; 
	border-color:#e5e5e5;
}
.answers-num{
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #505050;
    font-weight: bold;
    margin-left: 25px;
}
.sequencing-principle{
    height: 24px;
    font-size: 14px;
    color: #505050;
    float: right;
    margin-top: 8px;
    margin-right: 25px;
    border: none;
}
.answers-content{
    margin-top: 20px;
    width: 1000px;
    background-color: #ffffff;
    border-style:solid; 
	border-width:2px; 
	border-color:#e5e5e5;
}
.reply{
    width: 1000px;
    height: 215px;
    border-style:solid; 
    border-width:0px 0px 1px 0px;
    border-color:#e5e5e5;
}
.reply-top{
    height:55px;
    width: 950px;
    margin: 0 auto;
    margin-top: 25px;
}
.reply img{
    border-radius: 27px;

}
.reply-top img{
    float: left;
}
.reply-top-center{
    float: left;
}
.reply-top-center a{
   line-height: 25px;
   margin-left: 10px;
   color: #383838;
   font-weight: bold;
   text-decoration: none;
   
}
.description{
    height: 30px;
    line-height: 150%;
    color: #808080;
    font-size: 14px;
}
.year{
    float: left;
    margin-left: 10px;
}
.school{
    float: left;
    margin-left: 10px;
}
.dream-school{
    float: left;
    margin-left: 10px;
}
.reply-right{
    float: right;
    line-height: 55px;
    font-size: #000000;
    font-style: italic;
    font-size: 14px;
}
.reply-content{
    width: 950px;
    height: 60px;
    margin: 0 auto;
    margin-top: 24px;
}
.reply-content p{
    color: rgba(0, 0, 0, 1);
	font-size: 14px;
	line-height: 200%;
}
.reply-evaluation{
    width: 950px;
    height: 35px;
    margin: 0 auto;
    margin-top: 24px;
    text-align: right;
}
.a{
    float: right;
}
.reply-praise{
    line-height: 35px;  
    font-weight: bolder;
    color: #f2858e;
    font-size: 14px;
    float: left;
}
.reply-evaluation img{
    margin-left: 15px;
    float: left;
}
.reply-give-praise{
    color: #64a6a6a6;
    line-height: 35px;
    font-size: 14px;
    margin-left: 7px;
    float: left;
}
.view-comments{
    color: #64a6a6a6;
    line-height: 35px;
    font-size: 14px;
    margin-left: 7px;
    float: left;
}
.page{
    width: 950px;
    height: 80px;
    margin: 0 auto;
    line-height: 80px;
    text-align: center;
}
.page a{
    padding: 5px;
	border: rgba(9, 198, 217, 1) solid 1px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #0ec8d9;
}
.write-answer{
    width: 1000px;
    height: 280px;background-color: #ffffff;
    border-style:solid; 
	border-width:2px; 
    border-color:#e5e5e5;
    margin-top: 25px;
}
.write-answer-top{
    width: 950px;
    height: 25px;
    margin: 0 auto;
    margin-top: 15px;
}
.write-answer-top img{
    float: left;
}
.write-answer-top-word{
    float: left;
    font-size: 14px;
	line-height: 150%;
    font-weight: bold;
    color: #0cc8d9;
    margin-left: 5px;
}
.text{
    width: 950px;
    height: 160px;
    margin: 0 auto;
    margin-top: 20px;
    /*border: #a6a6a6 solid 1px;*/
}
.toolbar{
    width: 950px;
    height: 40px;
    border-style:solid; 
    border-width:0px 0px 1px 0px;
    border-color:#e5e5e5;
}
.comment-content{
    height: 120px;
    width: 950px;
    padding: 10px;
    font-size: 14px;
}
.toolbar img{
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
.more{
    float: right;
    margin-right: 10px;
}
.write-answer-bottom{
    height: 40px;
    width: 950px;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 10px;
}
.write-answer-bottom-content{
    height: 40px;
    line-height: 40px;
    float: right;
}
.identifying-code{
    height: 40px;
    line-height: 40px;
    float: left;
}
.write-answer-bottom button{
    height: 30px;
    width: 70px;
    background-color: #0cc8d9;
    border: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 150%;
    float: left;
    margin-top: 5px;
}
.identifying-code input{
    width: 75px;
    height: 25px;
    margin-right: 40px;
}
.comments{
    display: none;
}
.comments-number{
    width: 1000px;
    height: 40px;
    background-color: #ffffff;
    border-style:solid;
    border-width:0px 0px 1px 0px;
    border-color:#e5e5e5;
}
.right{
    float: right;
}
.comments-sequencing-principle{
    height: 24px;
    font-size: 14px;
    color: #505050;
    float:left;
    margin-top: 8px;
    margin-right: 25px;
    border: none;
}
.close{
    float: left;
    width: 60px;
    height: 40px;
    line-height: 40px;
    color: rgba(80, 80, 80, 1);
    font-size: 14px;
    margin-right: 25px;
}
.comments-content{
    height: 35px;
    width: 1000px;
    border-style: dashed;
    border-width:0px 0px 1px 0px;
    border-color:#e5e5e5;
}
.time{
    margin-left: 25px;
    float: left;
    width: 150px;
    line-height: 35px;
    color: rgba(80, 80, 80, 1);
    font-size: 14px;
}
.nickname{
    float: left;
    width:200px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    color: #505050;
}
.comments-content-content{
    float: left;
    width: 400px;
    line-height: 35px;
    color: rgba(80, 80, 80, 1);
    font-size: 14px;
}
.b{
    float: right;
}
.comments-content-praise{
    line-height: 35px;
    font-weight: bolder;
    color: #f2858e;
    font-size: 14px;
    float: left;
}
.comments-content img{
    margin-top: 7px;
    margin-left: 15px;
    float: left;
}
.comments-content-give-praise{
    color: #64a6a6a6;
    line-height: 35px;
    font-size: 14px;
    margin-left: 7px;
    float: left;
    margin-right: 25px;
}
.comments-reply{
    width: 1000px;
    height: 40px;
    border-style: solid;
    border-width:0px 0px 1px 0px;
    border-color:#e5e5e5;
}
.comments-reply-input{
    width: 600px;
    height: 20px;
    margin-left: 50px;
    float: left;
    margin-top: 7px;
}
.comments-reply-report{
    float: left;
    margin-left: 15px;
    line-height: 40px;
    color: rgba(128, 128, 128, 1);
    font-size: 14px;
    font-weight: bold;
}
