body {
    min-height: 100%;
    margin: 0;
    background-size: 100%;
}

header {
    height: 60px;
    width: 100%;
    margin: 0 auto;
    background: #6610f2;
    float: left;
    text-align: center;
    line-height: 60px;
    color: #fff;
}

nav {
    list-style: none;
}


.center {
    text-align: center;
}



.background {
    background: #fff;
}

.container {
    width: 100%;
    float: left;
}

.wrapper {
    padding: 30px 0;
    max-width: 900px;
    margin: 0 auto;
}

.reply {
    display: block;
    height: 30px;
    line-height: 40px;
    color: red;
    width: 300px;
    margin: 0 auto;
}

.registerform {
    width: 360px;
    margin: 0px auto 0;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
}

.registerform a:hover,
.registerform a:link,
.registerform a:visited {
    text-decoration: none;
    color: rgb(29, 154, 212);
    font-size: 12px;
    padding: 5px;
}

.textcase {
    height: 30px;
    border-bottom: 1px solid#c4d7d6;
    margin-bottom: 30px;
}

.registertext {
    background: #fff;
    height: 60px;
    width: 180px;
    font-size: 30px;
    margin: 0 auto;
    line-height: 60px;
}

.registertext img {
    height: 40px;
}

.registertext a:link,
.registertext a:hover,
.registertext a:visited {
    text-decoration: none;
    color: #000;
}


.inputcase {
    width: 300px;
    height: 38px;
    margin: 15px auto;
    max-width: 350px;
    padding: 0;
    border-radius: 5px;
    display: block;
    border: 1px solid LightSteelBlue;
}

.inputcase>input {
    font-weight: 100;
    font-size: 15px;
    height: 38px;
    width: 90%;
    padding: 0 4%;
    border: 0;
    margin: 0 1%;
    outline: 0;
}

#code {
    font-weight: 100;
    font-size: 15px;
    height: 38px;
    width: 60%;
    float: left;
    padding: 0 3% 0 8%;
    border: 0;
    margin: 0 1%;
    outline: 0;
}

.getcode {
    cursor: pointer;
    width: 30%;
    height: 34px;
    padding:0px;
    margin-top:2px;
    margin-bottom: 2px;
    margin-right: 2px;
    border-radius: 0px 5px 5px 0px;
    border:0;
    outline: 0;
    float: right;
}

.registerbtn {
    width: 300px;
    height: 40px;
    margin: 10px auto;
    max-width: 350px;
    padding: 0;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
}

.registerbtn>button {
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    border: 0;
    outline: 0;
}

.welcome {
    font-size: 18px;
}

/*  footer  */
@media(min-width:1381px) {}

footer {
    bottom: 0;
    text-align: center;
    width: 100%;
    clear: both;
    float: left;
}

.nav {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}


.nav>li {
    font-size: 13px;
    padding: 0 10px;
    display: inline;
}

.nav a {
    text-decoration: none;
}

.nav a:hover,
.nav a:link,
.nav a:visited {
    color: #000;
}

footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}