.changeheadimg{
    float: right;
    width:120px;
    position: relative;
    right: 50px;
}
.changeheadimg>img{
    border-radius: 100px;
    height: 120px;
    width: 120px;
}
.changeheadimg>h4{
    margin:0;
    padding-top:5px;
    text-align: center;
}
.changeheadimg>h4 a{
    color:#000;
    text-decoration: none;
}

.userinfoform{
    padding-top: 30px;
    list-style-type: none;
    width: 460px;
    margin-left: 50px;
    padding-bottom: 100px;
    float: left;
}

.userinfoform nav{
    display:table-cell;
    list-style-type: none;
}

.userinfoform nav>li{
    margin:5px 0  5px 0;
    float: left;
    clear: both;
}
.userinfoform nav>li>label{
    font-size: 18px;
    float: left;
    padding: 4px 0 5px 0;
    padding-right:25px;
}

.userinfoform nav>li>input{
    outline: none;
    height:30px;
    float: left;
    border:1px solid #fff;
    font-size: 18px;
}
.userinfoform nav>li>span{
    height:30px;
    float: left;
    line-height: 32px;
    font-size: 18px;
}

.userinfoform nav>li>input:hover{
    outline: none;
    border:1px solid #e0e0e0;
}