<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utunan.mapper.school.DirectionMapper">
    <resultMap id="directionResultMap" type="com.utunan.pojo.school.Direction">
        <id column="directionId" property="directionId"/>
        <result property="schoolName" column="schoolName"/>
        <result property="collegeName" column="collegeName"/>
        <result property="majorName" column="majorName"/>
        <result property="directionName" column="directionName"/>
        <result property="degreeType" column="degreeType"/>
        <result property="politics" column="politics"/>
        <result property="english" column="english"/>
        <result property="math" column="math"/>
        <result property="majorBasics" column="majorBasics"/>
    </resultMap>

    <select id="findAllDirection" resultMap="directionResultMap">
        select *
        from direction
    </select>

</mapper>