<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utunan.mapper.school.PublishDirectionMapper">
    <resultMap id="DirectionCollectorMap" type="com.utunan.pojo.inherit.school.PublishDirection">
        <id column="directionId" property="directionId"/>
        <result property="schoolName" column="schoolName"/>
        <result property="collegeName" column="collegeName"/>
        <result property="majorlName" column="majorlName"/>
        <result property="directionName" column="directionName"/>
        <result property="degreeType" column="degreeType"/>
        <result property="politics" column="politics"/>
        <result property="english" column="english"/>
        <result property="math" column="math"/>
        <result property="majorBasics" column="majorBasics"/>
        <association property="school" javaType="com.utunan.pojo.base.school.School">
            <id column="schoolId" property="schoolId"/>
            <result property="schoolName" column="schoolName"/>
            <result property="schoolProvince" column="schoolProvince"/>
            <result property="schoolType" column="schoolType"/>
            <result property="schoolSubjection" column="schoolSubjection"/>
        </association>
        <collection property="directionComments" javaType="java.util.List" ofType="com.utunan.pojo.base.questionbank.DirectionComment">
            <id property="directionCommentId" column="directionCommentId"/>
            <result property="directionCommentContent" column="directionCommentContent"/>
            <result property="directionCommentTime" column="directionCommentTime"/>
            <result property="directionCommentPraiseCount" column="directionCommentPraiseCount"/>
            <association property="user" javaType="com.utunan.pojo.base.user.User">
                <id property="userId" column="userId"/>
                <result property="userEmail" column="userEmail"/>
                <result property="userTelephone" column="userTelephone"/>
                <result property="userPassword" column="userPassword"/>
                <result property="userIdentity" column="userIdentity"/>
                <result property="examTime" column="examTime"/>
                <result property="registerTime" column="registerTime"/>
                <result property="userHeadImg" column="userHeadImg"/>
                <result property="userNickName" column="userNickName"/>
                <result property="userSchool" column="userSchool"/>
                <result property="dreamSchool" column="dreamSchool"/>
                <result property="userIntegral" column="userIntegral"/>
            </association>
        </collection>
    </resultMap>

    <!--王碧云 根据研究Id查找该方向的详情（按时间排序）-->
    <select id="findDirectionByDirectionId" resultMap="DirectionCollectorMap">
        select *
        from direction d
        left outer join school s on s.schoolName = d.schoolName
        left outer join direction_comment dc on d.directionId = dc.directionId
        left outer join user u on dc.userId = u.userId
        where
        d.directionId=#{directionId}
        order by dc.directionCommentTime asc
    </select>
    <!--王碧云 根据研究Id查找该方向的详情（按热度排序）-->
    <select id="findDirectionOrderByPraiseCount" resultMap="DirectionCollectorMap">
        select *
        from direction d
        left outer join school s on s.schoolName = d.schoolName
        left outer join direction_comment dc on d.directionId = dc.directionId
        left outer join user u on dc.userId = u.userId
        where
        d.directionId=#{directionId}
        order by dc.directionCommentPraiseCount desc
    </select>

</mapper>