<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utunan.mapper.school.SchoolMapper">
    <resultMap id="schoolResultMap" type="com.utunan.pojo.school.School">
        <id column="schoolId" property="schoolId"/>
        <result property="schoolName" column="schoolName"/>
        <result property="schoolProvince" column="schoolProvince"/>
        <result property="schoolType" column="schoolType"/>
        <result property="schoolSubjection" column="schoolSubjection"/>
        <collection property="direction" javaType="java.util.List" ofType="com.utunan.pojo.school.Direction">
            <id column="directionId" property="directionId"/>
            <result property="schoolName" column="schoolName"/>
            <result property="collegeName" column="collegeName"/>
            <result property="majorName" column="majorName"/>
            <result property="directionName" column="directionName"/>
            <result property="degreeType" column="degreeType"/>
            <result property="politics" column="politics"/>
            <result property="english" column="english"/>
            <result property="math" column="math"/>
            <result property="majorBasics" column="majorBasics"/>
        </collection>
    </resultMap>

    <!--王碧云 返回所有的学校-->
    <select id="findAllSchool" resultMap="schoolResultMap">
        select *
        from school
        join direction on school.schoolName = direction.schoolName
    </select>

    <!--王碧云 根据省份检索学校(通过学校找到该校的研究方向)-->
    <select id="findSchoolBySchoolProvince" resultMap="schoolResultMap">
        select *
        from school
        join direction on school.schoolName = direction.schoolName
        where schoolProvince=#{schoolProvince}
    </select>

</mapper>