<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utunan.mapper.community.CommentMapper">

    <resultMap id="CommentResultMap" type="com.utunan.pojo.community.Comment">
        <id column="tagId" property="tagId"/>
        <result property="quizId" column="quizId"/>
        <result property="commentContent" column="commentContent"/>
        <result property="commentTime" column="commentTime"/>
        <result property="commentPraiseCount" column="commentPraiseCount"/>
        <result property="replyCommentId" column="replyCommentId"/>
        <association property="quiz" javaType="com.utunan.pojo.community.Quiz">
            <id property="quizId" column="quizId"/>
            <result property="userId" column="userId"/>
            <result property="quizTitle" column="quizTitle"/>
            <result property="quizContent" column="quizContent"/>
            <result property="releaseTime" column="releaseTime"/>
            <result property="praiseCount" column="praiseCount"/>
           <!-- <association property="user" javaType="com.utunan.pojo.user.User">
                <id property="userId" column="userId"/>
                <result property="userEmail" column="userEmail"/>
                <result property="userTelephone" column="userTelephone"/>
                <result property="userPassword" column="userPassword"/>
                <result property="userIdentity" column="userIdentity"/>
                <result property="examTime" column="examTime"/>
                <result property="registerTime" column="registerTime"/>
                <result property="userHeadImg" column="userHeadImg"/>
                <result property="userNickName" column="userNickName"/>
                <result property="userSchool" column="userSchool"/>
                <result property="userIntegral" column="userIntegral"/>
            </association>-->
        </association>
    </resultMap>
</mapper>