<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utunan.mapper.community.QuizMapper">
    <resultMap id="quizResultMap" type="com.utunan.pojo.community.Quiz">
        <id property="quizId" column="quizId"/>
        <result property="userId" column="userId"/>
        <result property="quizTitle" column="quizTitle"/>
        <result property="quizContent" column="quizContent"/>
        <result property="releaseTime" column="releaseTime"/>
        <result property="praiseCount" column="praiseCount"/>
        <association property="user" javaType="com.utunan.pojo.user.User">
            <id property="userId" column="userId"/>
            <result property="userEmail" column="userEmail"/>
            <result property="userTelephone" column="userTelephone"/>
            <result property="userPassword" column="userPassword"/>
            <result property="userIdentity" column="userIdentity"/>
            <result property="examTime" column="examTime"/>
            <result property="registerTime" column="registerTime"/>
            <result property="userHeadImg" column="userHeadImg"/>
            <result property="userNickName" column="userNickName"/>
            <result property="userSchool" column="userSchool"/>
            <result property="userIntegral" column="userIntegral"/>
        </association>
    </resultMap>

    <!--根据发表时间查询-->
    <select id="listByTime" resultMap="quizResultMap">
        select
        q.quizId, q.userId, q.quizTitle, q.quizContent, q.releaseTime, q.praiseCount, u.userId, u.userNickName
        from quiz q
        join user u on q.userId=u.userId
        order by q.releaseTime desc
        limit #{pageNum},#{pageSize}
    </select>
    <!--根据点赞数量分页查询-->
    <select id="listByPraise" resultMap="quizResultMap">
        select
        q.quizId, q.userId, q.quizTitle, q.quizContent, q.releaseTime, q.praiseCount, u.userId, u.userNickName
        from quiz q
        join user u on q.userId=u.userId
        order by q.praiseCount desc
        limit #{pageNum},#{pageSize}
    </select>

    <!--统计所有quiz个数-->
    <select id="countAllQuiz" resultType="java.lang.Long">
        select count(*)
        from quiz
    </select>

    <select id="countComment" resultType="java.lang.Long">
        select count(c.commentId)
        from quiz q
        join comment c on q.quizId=c.quizId
        group by q.quizId
        order by q.releaseTime
        limit #{pageNum},#{pageSize}
    </select>

    <!--@author  王碧云
    @description 根据QuizId查找Quiz-->
    <select id="findQuizById" resultMap="quizResultMap">
        select *
        from quiz
        join user on quiz.userId=user.userId
        where
        quizId=#{quizId}
    </select>
</mapper>