<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.utunan.mapper.community.QuizGreatMapper">
    <!--查询quizgreat表信息-->
    <select id="getQuizGreat" parameterType="java.lang.Long" resultType="com.utunan.pojo.base.community.QuizGreat">
        select *
        from quiz_great
        where quizId=#{quizId} and userId=#{userId}
    </select>
    <insert id="addQuizGreat" parameterType="java.lang.Long">
        insert into quiz_great(quizId, userId)
        values (#{quizId},#{userId})
    </insert>
    <delete id="delQuizGreat" parameterType="java.lang.Long">
        delete from quiz_great
        where quizId=#{quizId} and userId=#{userId}
    </delete>

</mapper>