<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utunan.mapper.community.QuizMapper">
    <resultMap id="quizResultMap" type="com.utunan.pojo.community.Quiz">
        <id property="quizId" column="quizId"/>
        <result property="userId" column="userId"/>
        <result property="quizTitle" column="quizTitle"/>
        <result property="quizContent" column="quizContent"/>
        <result property="releaseTime" column="releaseTime"/>
        <result property="praiseCount" column="praiseCount"/>
        <association property="user" javaType="com.utunan.pojo.user.User">
            <id property="userId" column="userId"/>
            <result property="userEmail" column="userEmail"/>
            <result property="userTelephone" column="userTelephone"/>
            <result property="userPassword" column="userPassword"/>
            <result property="userIdentity" column="userIdentity"/>
            <result property="examTime" column="examTime"/>
            <result property="registerTime" column="registerTime"/>
            <result property="userHeadImg" column="userHeadImg"/>
            <result property="userNickName" column="userNickName"/>
            <result property="userSchool" column="userSchool"/>
            <result property="dreamSchool" column="dreamSchool"/>
            <result property="userIntegral" column="userIntegral"/>
        </association>
        <collection property="comment" javaType="java.util.List" ofType="com.utunan.pojo.community.Comment">
            <id property="commentId" column="commentId"/>
            <result property="quizId" column="quizId"/>
            <result property="userId" column="userId"/>
            <result property="commentContent" column="commentContent"/>
            <result property="commentTime" column="commentTime"/>
            <result property="commentPraiseCount" column="commentPraiseCount"/>
            <result property="replyCommentId" column="replyCommentId"/>
        </collection>
    </resultMap>
    <!--根据发表时间分页查询-->
    <select id="listQuizByTime" resultMap="quizResultMap">
        SELECT *
        from quiz q
        join user u on q.userId=u.userId
        order by q.releaseTime desc
        limit #{pageNum},#{pageSize}
    </select>
    <!--根据点赞数量分页查询-->
    <select id="listQuizByPraise" resultMap="quizResultMap">
        select *
        from quiz q
        join user u on q.userId=u.userId
        order by q.praiseCount desc
        limit #{pageNum},#{pageSize}
    </select>
    <!--统计所有quiz个数-->
    <select id="countAllQuiz" resultType="java.lang.Long">
        select count(*)
        from quiz
    </select>
    <!--根据发表时间分页查询评论数量-->
    <select id="countCommentNumberByTime" resultType="java.lang.Long">
        select count(c.commentId)
        from quiz q
        join comment c on q.quizId=c.quizId
        group by c.quizId
        order by q.releaseTime desc
        limit #{pageNum},#{pageSize}
    </select>
    <!--根据点赞数量分页查询评论数量-->
    <select id="countCommentNumberByPraise" resultType="java.lang.Long">
        select count(c.commentId)
        from quiz q
        join comment c on q.quizId=c.quizId
        group by c.quizId
        order by q.praiseCount desc
        limit #{pageNum},#{pageSize}
    </select>
    <!--根据发表时间分页查询标签列表-->
    <!--根据点赞数量分页查询标签列表-->

    <!--根据quizId查用户-->
    <select id="findUserByQuizId" resultType="com.utunan.pojo.user.User">
        select u.*
        from quiz q
        join user u on q.userId=u.userId
        where q.quizId=#{quizId}
    </select>
    <!--根据quizId查评论数量-->
    <select id="countCommentByQuizId" resultType="java.lang.Long">
        select count(commentId)
        from comment
        where quizId=#{quizId}
    </select>
    <!--根据quizId查标签列表-->
    <select id="selectTagByQuizId" resultType="com.utunan.pojo.community.Tag">
        select t.tagName
        from tag t
        join quiz_tag qt on t.tagId=qt.tagId
        where qt.quizId=#{quizId}
    </select>

</mapper>