<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utunan.mapper.community.TagMapper">
    <resultMap id="tagResultMap" type="com.utunan.pojo.base.community.Tag">
        <id column="tagId" property="tagId"/>
        <result property="tagName" column="tagName"/>
        <collection property="quizTag"  ofType="com.utunan.pojo.base.community.QuizTag">
            <id property="quizTagId" column="quizTagId"/>
            <association property="quiz" javaType="com.utunan.pojo.base.community.Quiz">
                <id property="quizId" column="quizId"/>
                <result property="quizTitle" column="quizTitle"/>
                <result property="quizContent" column="quizContent"/>
                <result property="releaseTime" column="releaseTime"/>
                <result property="praiseCount" column="praiseCount"/>
                <result property="answerCount" column="answerCount"/>
                <association property="user" javaType="com.utunan.pojo.base.user.User">
                    <result property="userEmail" column="userEmail"/>
                    <result property="userTelephone" column="userTelephone"/>
                    <result property="userPassword" column="userPassword"/>
                    <result property="userIdentity" column="userIdentity"/>
                    <result property="examTime" column="examTime"/>
                    <result property="registerTime" column="registerTime"/>
                    <result property="userHeadImg" column="userHeadImg"/>
                    <result property="userNickName" column="userNickName"/>
                    <result property="userSchool" column="userSchool"/>
                    <result property="dreamSchool" column="dreamSchool"/>
                    <result property="userIntegral" column="userIntegral"/>
                </association>
            </association>
            <association property="tag" javaType="com.utunan.pojo.base.community.Tag">
                <id column="tagId" property="tagId"/>
                <result property="tagName" column="tagName"/>
            </association>
        </collection>
    </resultMap>
    <!--根据问题数量查询前10个标签-->
    <select id="top10Tag" resultMap="tagResultMap">
        select
        t.tagId, t.tagName
        from tag t
        join quiz_tag qt on t.tagId=qt.tagId
        group by qt.tagId
        order by count(qt.quizId) desc
        limit 10
    </select>
    <!--统计引用数量最高的10个标签的数量-->
    <select id="top10TagNumber" resultType="java.lang.Long">
        select
        count(quizId) tagNumber
        from quiz_tag
        group by tagId
        order by count(quizId) desc
        limit 10
    </select>
    <!--提问区根据问题数量查询前3个标签-->
    <select id="top3Tag" resultMap="tagResultMap">
        select
            t.tagId, t.tagName
        from tag t
                 join quiz_tag qt on t.tagId=qt.tagId
        group by qt.tagId
        order by count(qt.quizId) desc
                 limit 3
    </select>
    <!--提问区查询余下标签-->
    <select id="getRemainTag" parameterType="java.util.List" resultMap="tagResultMap">
        select
        t.tagId, t.tagName
        from tag t
        where t.tagId not in
        <foreach item="tag" collection="tagList3" separator="," open="(" close=")">
            #{tag.tagId}
        </foreach>
    </select>


    <!--查询用户输入的标签id-->
    <select id="getTags" resultType="java.lang.Long">
        select tagId
        from tag
        where tagName in
        <foreach item="tag" collection="listtag" separator="," open="(" close=")">
            #{tag}
        </foreach>
    </select>
    <!--查询所有标签-->
    <select id="listAllTag" resultType="com.utunan.pojo.base.community.Tag">
        select *
        from tag
    </select>
</mapper>