body {
    min-height: 100%;
    margin: 0;
    background-size: 100%;
}

nav {
    list-style: none;
}


.center {
    text-align: center;
}

.background {
    background: #fff;
}

.container {
    width: 100%;
    float: left;
}

.wrapper {
    padding: 30px 0;
    max-width: 900px;
    margin: 0 auto;
}

.reply {
    display: block;
    height: 30px;
    line-height: 40px;
    color: red;
    width: 300px;
    margin: 0 auto;
}


.loginform {
    width: 360px;
    margin: 0px auto 0;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
}

.loginform a:hover,
.loginform a:link,
.loginform a:visited {
    text-decoration: none;
    color: rgb(29, 154, 212);
    font-size: 12px;
    padding: 5px;
}

.textcase {
    height: 30px;
    border-bottom: 1px solid#c4d7d6;
    margin-bottom: 30px;
}

.logintext{
    background: #fff;
    height: 60px;
    width: 180px;
    /*font-size: 30px;
    font-family: "华文行楷","微软雅黑";*/
    margin: 0 auto;
    line-height: 60px;
}
.logintext a{
    font-size: 30px;
    font-family: "华文行楷","微软雅黑";
}

.logintext img {
    height: 40px;
}

.logintext a:link,
.logintext a:hover,
.logintext a:visited {
    text-decoration: none;
    color: #000;
}


.inputcase {
    width: 300px;
    height: 40px;
    margin: 15px auto;
    max-width: 350px;
    padding: 0;
    border-radius: 5px;
    display: block;
    border: 1px solid LightSteelBlue;
}

.inputcase>input {
    font-weight: 100;
    font-size: 15px;
    height: 40px;
    width: 90%;
    padding: 0 4%;
    border: 0;
    margin: 0 1%;
    outline: 0;
}

.loginbtn {
    width: 300px;
    height: 40px;
    margin: 10px auto;
    max-width: 350px;
    padding: 0;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
}

.loginbtn>button {
    margin-left: 25px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    height: 100%;
    width: 35%;
    border: 0;
    outline: 0;
}
#submitbutton{
    background: #5DB276;
}

.welcome {
    font-size: 18px;
}

/*  footer  */
@media(min-width:1381px) {
    
}



footer {
    bottom: 0;
    text-align: center;
    width: 100%;
    clear: both;
    float: left;
}

.nav {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}


.nav>li {
    font-size: 13px;
    padding: 0 10px;
    display: inline;
}

.nav a {
    text-decoration: none;
}

.nav a:hover,
.nav a:link,
.nav a:visited {
    color: #000;
}

footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.mask{
    display:none;
    background:rgba(0,0,0,0.3);
    width:100%;
    height:100%;
    position:fixed;
    z-index: 10001;
}
.modalDialogcontent{
    display:none;
    background:white;
    width:500px;
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-150px;
    z-index: 10001;
}
.close_modalDialogcontent{
    position:absolute;
    font-size:20px;
    right: 0px;
    width:20px;
    height:20px;
    cursor:pointer;
}