.layui-table tbody tr:hover,
.layui-table-click,
.layui-table-header,
.layui-table-hover,
.layui-table-mend,
.layui-table-patch,
.layui-table-tool,
.layui-table-total,
.layui-table-total tr,
.layui-table[lay-even] tr:nth-child(even)
{
    background-color:#f4f9ff;
color:RGB(0,150,146);
}

.layui-table[lay-skin=line] thead tr th{
    color:white;
    background-color: RGB(0,150,146);
}
.layui-table{
    width:95%;
    margin-top: 30px;
    margin-left: 2.5%;
}
*{
    font-size:14px;
}
.title{
    font-size: 22px;
    text-align: center;
    color:black;
    margin-left: 35%;
}
.collector{
    margin-left: 2%;
}
.schoolheader{
    display: block;
    line-height: 40px;
    width: 100%;
    height: 40px;
    float: left;
    font-weight: bold;
    border-bottom: 3px solid #2a82e4;
    margin-bottom: 30px;
    margin-top: 30px;
}
label{
    font-size: 14px;
    font-weight: normal;
    float:left;
}

.RadioStyle{
    width: 100%;
    margin: 10px;
}
 .RadioStyle input {
    display: none
}
.RadioStyle label {
    border: 1px solid white;
	color: #666;
    padding: 3px 10px 3px 5px;
    line-height: 22px;
	min-width: 54px;
	text-align: center;
	float: left;
	margin: 2px;
	border-radius: 4px
}
.RadioStyle input:checked + label {
	border: 1px solid #2a82e4;
	background-size: 21px 21px;
    color: white;
    background-color: #2a82e4;
}

.optionName{
    width: 10%;
    float: left;
}
.option{
    float:left;
    width: 88%;
}
.subjectoption{
    float:left;
    width: 88%;
}
.options{
    width: 100%;
    margin: 10px;
    overflow:hidden;
}
.bigwrapper{
    border: 1px solid RGB(229,229,229);
    width:95%;
    overflow: hidden;
    background-color: white;
    margin-left: 2.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid #2a82e4;
}
#search{
    float:left;
    margin-top: 6px;
    margin-left: 15px;
    background-color: #2a82e4;
}
#direction{
    margin-left: 2px;
    width: 40%;
    float:left;
}
#sname{
    margin-left: 2px;
    width: 40%;
    float:left;
}
#blank{
    height:40px;
}
.show{
    width: 960px;
    margin:0 auto;
    text-align: center;
}
.table>tbody>tr>td{
    border:0px;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom-width: 3px;
    text-align: center;
}
.back{
    width: 100%;
    overflow:hidden;
}
.option-search{
    width: 100%;
    margin: 10px;
}
.RadioStyle input:checked + label {
    border: 1px solid RGB(0,150,146);
    background-color: RGB(0,150,146);
}
.layui-table[lay-skin=line] thead tr th {
    color: white;
    background-color: RGB(0,150,146);
}
#search {
    background-color:#FC6111;
    /*#FF5700;*/
}
.bigwrapper {
    border-top: 2px solid RGB(0,150,146);
}
.page>li>a {
    color: RGB(0,150,146);
}
.page>li {
    border: 1px solid RGB(0,150,146);
}
#search {
    background-color: #FC6111;
    height: 35px;
    width: 60px;
    margin-top: 1px;
    margin-left: 40px;
}