<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.utunan.mapper.admin.AdminDelMapper">
    <!--批量删除用户-->
    <delete id="delAllMember" parameterType="arraylist">
        delete from user
        where userId in
        <foreach collection="a" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量删除学校评论-->
    <delete id="delAllSchoolComment" parameterType="arraylist">
        delete from schoolcomment
        where schoolcommentId in
        <foreach collection="b" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--单个删除用户-->
    <delete id="delMember" parameterType="Long">
        delete from user
        where userId=#{userId}
    </delete>
    <!--单个删除学校评论-->
    <delete id="delSchoolComment" parameterType="Long">
        delete from schoolcomment
        where schoolcommentId=#{schoolcommentId}
    </delete>
</mapper>