.contop {
    background: #fbecde;
    padding-top: 30px;
    width: 100%;
    padding-bottom: 20px;
}

.carouselbox {
    max-width: 968px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background: #c6e6e8;
}

@media(max-width:1012px) {
    .carouselbox {
        margin: 0 auto;
        margin-top: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .recommend {
        display: none;
    }
}

.contop>span {
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    position: relative;
    bottom: -80px;
}

.contop>span>div {
    width: 200px;
    padding-right: 290px;
    margin: 0 auto;
}

.contop>span>div>span {
    color: #ee4866;
    border-bottom: 3px solid#e6d2d5;
}

.recommend {
    max-width: 968px;
    margin-top: 30px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

.recommend li {
    display: inline;
}

.recommend li>a {
    background: #fff;
    height: 150px;
    width: 200px;
    float: left;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
}


.concontainer {
    width: 100%;
    height: auto;
    background: #fff;
}

.content {
    max-width: 968px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.leftcon {
    width: 70%;
    float: left;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 50px;
}

.leftcon li {
    clear: both;
    overflow: hidden;
    border-radius: 5px;
    background: #c6e6e8;
    font-size: 15px;
    display: block;
    line-height: 23px;
    width: 90%;
    margin: 0 auto;
    margin-top: 35px;
}

.leftcon li p {
    padding: 20px;
    padding-top: 10px;
    text-indent: 2em;
    margin: 0;
}
.leftcon>div{
    
    margin-top:10px;
}

.leftcon>div>a{
    position: relative;
    font-size: 15px;
    right: -550px;
    font-weight: 900;
    color:#ee4866;
}

.leftcon li h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.rightcon {
    margin-top: 45px;
    float: right;
    width: 25%;
    height: auto;
}

.authorcon {
    background: #ee4866;
    border-radius: 5px;
    padding-bottom: 20px;
}


.rightcon h2 {
    margin-top: 0px;
    padding-top:20px;
    color: #fff;
    text-align: center;
}


.rightcon>div>img {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 100px;
}

.rightcon h3 {
    text-align: center;
}

.authorname {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.authorinfo {
    padding-left: 40px;
}

.authorinfo p {
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    color: #000;
    font-weight: 700;
}

.tablet {
    margin-top: 100px;
    padding-top:20px;
    padding-bottom: 20px;
    border-radius: 5px;
    background: #e6d2d5;
}

.tablet h3{
    font-size: 25px;
    color:#000;
}

.tablet h4{
    text-align: center;
}

@media (max-width:1199.88px) {
    .leftcon {
        width: 100%;
    }

    .leftcon li {

        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contop>span>div {
        width: 200px;
        padding-right: 0px;
        margin: 0 auto;


    }

    .rightcon {
        display: none;
    }
}






/*

    以下为 Bootstrap4
    轮播的CSS代码

*/
.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

@media screen and (prefers-reduced-motion: reduce) {

    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        transition: none;
    }
}

.carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {

    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-item-next,
.active.carousel-item-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {

    .carousel-item-next,
    .active.carousel-item-right {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.carousel-item-prev,
.active.carousel-item-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {

    .carousel-item-prev,
    .active.carousel-item-left {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}


.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.w-100 {
    width: 100% !important;
}