<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utunan.mapper.user.PublishQuizMapper">

    <select id="selectPublishQuiz" resultType="com.utunan.pojo.base.community.Quiz">
        select q.quizId,q.quizTitle,q.releaseTime,q.praiseCount,q.quizContent
        from quiz q
        where q.userId=#{userId}
    </select>
</mapper>