<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utunan.mapper.user.PublishAnswerMapper">

    <resultMap id="PublishAnswerMap" type="com.utunan.pojo.base.community.Answer">
        <id property="answerId" column="answerId"/>
        <result property="answerContent" column="answerContent"/>
        <result property="answerTime" column="answerTime"/>
        <result property="praiseCount" column="praiseCount"/>
        <association property="quiz" javaType="com.utunan.pojo.base.community.Quiz">
            <id property="quizId" column="quizId"/>
            <result property="quizTitle" column="quizTitle"/>
            <result property="praiseCount" column="praiseCount"/>
        </association>
    </resultMap>

    <select id="selectPublishAnswer" resultMap="PublishAnswerMap">
        select *
        from answer a
        where a.userId=#{userId}
    </select>

    <select id="selectQuizByQuizId" resultType="com.utunan.pojo.base.community.Quiz">
      select *
      from quiz q
      where q.quizId=#{quizId}
    </select>

</mapper>