<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utunan.mapper.user.QuestionCollecctorMapper">
    <resultMap id="QuestionMap" type="com.utunan.pojo.base.questionbank.Question">
        <id property="questionId" column="questionId"/>
        <result property="chapterName" column="chapterName"/>
        <result property="questionContent" column="questionContent"/>
        <association property="subject" javaType="com.utunan.pojo.base.questionbank.Subject">
            <id property="subjectId" column="subjectId"/>
            <result property="subjectName" column="subjectName"/>
        </association>
    </resultMap>
   
    <select id="selectQuestionCollector" resultMap="QuestionMap">
        select *
        from question_collector qc,question q
        where qc.questionId=q.questionId and qc.userId=#{userId}
    </select>
    <select id="selectSubject" resultType="com.utunan.pojo.base.questionbank.Subject">
        select *
        from subject
        where subjectId=#{subjectId}
    </select>
</mapper>