<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utunan.mapper.user.SchoolCollectorMapper">

    <select id="selectSchoolCollector" resultMap="selectDirectionResultMap">
        select d.*
        from direction d,school_collector sc
        where d.directionId=sc.directionId
        and sc.userId=#{userId}
    </select>

    <resultMap id="selectDirectionResultMap" type="com.utunan.pojo.school.Direction">
        <id column="directionId" property="directionId"/>
        <result column="schoolName" property="schoolName"/>
        <result column="collegeName" property="collegeName"/>
        <result column="majorName" property="majorName"/>
        <result column="directionName" property="directionName"/>
        <result column="degreeType" property="degreeType"/>
        <result column="politics" property="politics"/>
        <result column="english" property="english"/>
        <result column="math" property="math"/>
        <result column="majorBasics" property="majorBasics"/>
        <collection property="users" ofType="com.utunan.pojo.user.User">
            <id column="userId" property="userId"/>
            <result property="userEmail" column="userEmail"/>
            <result property="userTelephone" column="userTelephone"/>
            <result property="userPassword" column="userPassword"/>
            <result property="userIdentity" column="userIdentity"/>
            <result property="examTime" column="examTime"/>
            <result property="registerTime" column="registerTime"/>
            <result property="userHeadImg" column="userHeadImg"/>
            <result property="userNickName" column="userNickName"/>
            <result property="userSchool" column="userSchool"/>
            <result property="dreamSchool" column="dreamSchool"/>
            <result property="userIntegral" column="userIntegral"/>
        </collection>
    </resultMap>
</mapper>