<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utunan.mapper.user.UserMapper">

    <select id="selectByPermit" resultType="com.utunan.pojo.user.User">
        select *
        from user
        where (
        userTelephone=#{userTelephone}
        or
        userEmail=#{userEmail}
        )
        and
        userPassword=#{userPassword}
    </select>

    <select id="selectByUorE" resultType="com.utunan.pojo.user.User">
        select *
        from user
        where
        userTelephone=#{userTelephone}
        or
        userEmail=#{userEmail}
    </select>

    <insert id="insert">
        insert into user(userTelephone,userPassword,registerTime)
        values(#{userTelephone},#{userPassword},#{registerTime})
    </insert>

    <update id="updateUser" parameterType="java.lang.String">
        update user
        set userNickName=#{userNickName},userEmail=#{userEmail},examTime=#{examTime},userSchool=#{userSchool},dreamSchool=#{dreamSchool}
        where userTelephone=#{userTelephone}
    </update>
</mapper>