<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utunan.mapper.UserMapper">
    <insert id="insert">
        insert  into  user (userTelephone,userPassword,userIdentity,registerTime)
        values (#{userTelephone},#{userPassword},3,#{registerTime})
    </insert>
    <select id="queryAll" resultType="User">
        selec *
        from user
    </select>
    <select id="queryByTelephone" resultType="User">
        select *
        from user
        where userTelephone=#{userTelephone}
    </select>
    <select id="queryByEmail" resultType="User">
        select *
        from user
        where userEmail=#{userEmail}
    </select>
</mapper>