.postlist {
    list-style-type: none;
    clear: both;
    width: 680px;
}

.postlist a{
    text-decoration: none;
}

.postlist>li {
    width: 680px;
    float: left;
    min-height: 170px;
    max-height: 170px;
    padding-bottom: 10px;
    border-bottom: 1px dotted;
}

.posttop{
    background: #fffef8;
    height: 50px;
    float: left;
    width: 630px;
    padding:0 25px 0px 25px;

}
.posttop>a{
    float: left;
}
.posttop>a>img:first-of-type{
    height: 40px;
    float: left;
    margin: 5px 0;
    border-radius: 20px;
}

.posttop>span:first-of-type{
    padding-left: 25px;
    width: 150px;
    font-size: 14px;
    line-height: 50px;
    float: left;

}
.posttop>span:first-of-type>a{
    color:#525288;
}
.posttop>span:last-of-type{
    width: 400px;
    font-weight: bold;

    font-size: 13px;
    line-height: 50px;
    float: left;
}
.posttop>span:last-of-type>a{
    color:#12a182;
}
.postmiddle{
    height: 82px;
    float: left;
    padding:0 60px;
    border-top: 2px solid #fed71a;
    border-bottom:1px double #fed71a;
}
.postmiddle>p{
    padding:10px;
    text-indent: 2em;
    font-size: 14px;
    height: 60px;
    margin:0;
}
.postbottom{
    width: 492px;
    float: left;
    font-size: 12px;
    height: 20px;
    padding:0 90px;
    margin: 5px 0;
}
.delete{
    float: left;
    height: 20px;
    line-height: 20px;
    padding:0 5px;
    border-bottom:double;
}
.delete>a{
    font-weight: bold;
    float: left;
    color: #bf3553;
}
.details{
    float: right;
    height: 20px;
    line-height: 20px;
}
.details>a{
    float: right;
    color:#10aec2;
}