

table tr>th{
    text-align: center;
}

table tr td{
    font-size: 14px;
    text-align: center;
}

table img{
    cursor: pointer;
    height: 24px;
    margin-top:5px;
}
table a{
    text-decoration: none;
    color:#000;
}
