.publishpost {
    list-style-type: none;
    clear: both;
    width: 680px;
}

.publishpost>li {
    width: 630px;
    float: left;
    padding:0 25px;
    min-height: 180px;
    max-height: 180px;
    border-bottom:1px dotted;
}
.publishpost>li>span:first-of-type {
    float: left;
    color:rgba(49, 136, 136, 1);
    font-size: 14px;
}
.publishpost>li>span:first-of-type>a {

    color:rgba(49, 136, 136, 1);
    text-decoration: none;
}
.publishpost>li>span:last-of-type {

    font-size: 14px;
    float: right;
}
.publishpost>li>span:last-of-type>a {
    color:rgba(12, 200, 217, 1);
    text-decoration: none;
}
.publishpost>li>div {
    width: 100%;
    float: left;
    padding: 15px 0;
}
.postcontent {
    clear: both;
    margin:0px;
    width: 550px;
    text-indent: 2em;
    padding: 0px 40px;
    margin-bottom: 20px;
}
.publishtime {
    color:#2f90b9;
    height: 25px;
    line-height: 25px;
    width: 100px;
    float: left;
}

.posttitle {
    color:#45b787;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    width: 430px;
    font-weight: bold;
    float: left;
}

.publishtype {
    height: 25px;
    line-height: 25px;
    text-align: right;
    padding:0 5px;
    float: right;
    color:rgba(242, 133, 142, 1);
    background-color: rgba(242, 133, 142, 0.2);
}
.title img{
    height: 30px;
}
.page{
    clear: both;
    width: 100%;
    padding: 20px 40px 40px 20px;
}