.publishreply {
    list-style-type: none;
    clear: both;
    width: 680px;
}

.publishreply>li {
    width: 600px;
    float: left;
    padding: 0 40px;
    min-height: 80px;
    max-height: 80px;
    border-bottom: 1px solid rgba(205, 185, 185, 0.28);
}
.publishreply>li>img:first-of-type{
    height:30px;
    margin:25px 40px 25px 20px;
    float:left;
}
.publishreply>li>span:first-of-type {
    float: left;
    color: rgba(49, 136, 136, 1);
    font-size: 14px;
}

.publishreply>li>span:first-of-type>a {
    color: rgba(49, 136, 136, 1);
    text-decoration: none;
}

.publishreply>li>span:last-of-type {

    font-size: 14px;
    float: right;
}

.publishreply>li>span:last-of-type>a {
    color: rgba(12, 200, 217, 1);
    text-decoration: none;
}

.publishreply>li>div:first-of-type {
    float: left;
    padding: 5px 0;
}
.posttop{
    width: 500px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

.posttitle {
    color: #b7b7b5;
    height: 25px;
    line-height: 25px;
    text-align: left;
    margin: 0 auto;
    width: 400px;
    font-weight: bold;
    float: left;
}
.posttitle>a{
    text-decoration: none;
    color:#000;
}
.posttitle>a:hover{
    color:rgba(0,150,136,1);
}
.postreply{
    float: left;
    font-size: 12px;
    color: #ADADAD;
    width: 500px;
    padding-bottom:0px;
}
.postreply a{
    font-weight: bold;
    text-decoration: none;
    color: #7a7a7a;
}

.postreply a:hover{
    text-decoration: none;
    color: #5776ff;
}

.postbottom{
    float: left;
    font-size: 12px;
    color: #ADADAD;
}

.postbottom>span{
    margin:0 5px 0 8px;
}
.postbottom>span:first-of-type{
    margin-left:0px;
}
/*.postbottom>span:last-of-type{*/
/*margin-left: 50px;*/
/*}*/
.postbottom>span:last-of-type>a{
    text-decoration: none;
    color:#ADADAD;
}
.postbottom>span:last-of-type>a:hover{
    text-decoration: none;
    font-weight: bold;
    color: #ff3446;
}