.changeheadimg{
    float: right;
    width:120px;
    position: relative;
    right: 80px;
    top:50px;
}
.changeheadimg>img{
    border-radius: 100px;
    height: 120px;
    width: 120px;
}
.changeheadimg>h4{
    margin:0;
    padding-top:5px;
    text-align: center;
}
.changeheadimg>h4 a{
    color:#000;
    text-decoration: none;
}

.userinfoform{
    padding-top: 30px;
    list-style-type: none;
    width: 460px;
    margin-left: 80px;
    padding-bottom: 50px;
    float: left;
}

.userinfoform nav{
    display:table-cell;
    list-style-type: none;
}

.userinfoform nav a{
    float: left;
    height: 30px;
    width: 30px;
}

.userinfoform nav img{
    margin:5px;
    height: 20px;
    width: 20px;
}

.userinfoform nav>li{
    margin:5px 0  5px 0;
    float: left;
    clear: both;
}
.userinfoform nav>li>label{
    font-size: 14px;
    float: left;
    padding: 5px 0 4px 0;
    padding-right:25px;
}

.userinfoform nav>li>input{
    outline: none;
    height:25px;
    float: left;
    border:1px solid #fff;
    font-size: 14px;
}
.userinfoform nav>li>span{
    height:30px;
    float: left;
    line-height: 28px;
    font-size: 14px;
}

.userinfoform nav>li>input:hover{
    outline: none;
    border:1px solid #e0e0e0;
}

.userop{
    padding-top:0px;
    padding-left: 30px;
    height: 40px;
    width: 370px;
}
.userop>button{
    border-radius: 5px;
    outline: none;
    border:1px solid #e0e0e0;
    height: 30px;
    margin:5px;
    width: 60px;
    color:#fff;
    font-size:14px;
    background-color: rgba(0,150,136,1);
}