.changeinfo{
    float: left;
    width: 100%;
    margin-top:20px;
}
.changeinfo>div{
    height: 50px;
    width: 100%;
    background-color:rgba(49, 126, 212, 0.1);
}
.changeinfo>div>span:first-of-type{
    float: left;
    cursor: default;
    padding:0 30px;
    padding-left: 30px;
    width: auto;
    background:  rgba(49, 126, 212, 0.5);
    color:#fff;
    font-weight: bold;
    border-radius:0 50px 50px 0;
    height: 50px;
    line-height: 50px;
}

.changeinfo>form{
    float: left;
    padding:20px 0 20px 150px;;
    clear: both;
}

.changeinfo>form>div:first-of-type{
    text-align: center;
    width: 320px;
    color:red;
}
.changeinfo>form>div{
    clear: both;
    float: left;
    height: 50px;
    line-height: 50px;
}
.changeinfo>form>div>label{
    float: left;
    height: 50px;
    width: 100px;
}
.changeinfo>form>div>input{
    border:1px solid rgba(49, 126, 212, 0.2);
    float: left;
    height: 30px;
    margin:7px 0;
    outline: none;
    font-size: 15px;
    width: 220px;
}
.changeinfo>form>div>button{
    outline: none;
    cursor: pointer;
    position: relative;
    left: -100px;
    float: left;
    height: 34px;
    margin:7px 0;
    width: 100px;
    border:0;
    font-size:12px;
    background-color: rgba(49, 126, 212, 0.2);
}
.changeinfo>form>input{
    cursor: pointer;
    height: 34px;
    margin:7px 0;
    margin-left: 100px;
    width: 224px;
    clear: both;
    float: left;
    border:0;
    font-size: 15px;
    border-radius: 20px;
    background-color: rgba(49, 126, 212, 0.2);
}