*{
	letter-spacing:0.5px;
	font-family:"SimHei",黑体；
}
body{
	background-color: #fafafa;
	margin-top: 0px;
}
.content{
	margin: 0 auto;
	width: 1100px;
}
.left-content{
	margin-top: 0px;
	width: 850px;
	float: left;
}
.right-content{
	margin-top: 60px;
	width: 200px;
	float: right;
}
.left-content-header{
	width: 800px;
	height: 40px;
	margin: auto;
	
}
.left-content-header p{
	line-height:40px;
	font-size: 21px;
	color: #505050;
}
.subscribe{
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #0cc8d9;
	margin-left: 15px;
	border-radius: 12px;
	font-size: 16px;
}

.content-main-menu{
	background-color: #0cc8d9;
	height: 40px;
	border-radius: 5px;
}
.menu-description{
	margin-left: 10px;
	float: left;
	width: 80px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
}

.menu-optionSet a{
	padding : 3px;
	margin:7px ;
	border-radius: 10px;
	float: left;
}
.option{
	color: #FFFFFF;
	background-color: #0cc8d9;
}
.active{
	color: #0cc8d9;
	background-color: #FFFFFF;
}
.search{
	width: 220px;
	height: 40px;
	line-height: 40px;
	float: right;
}
.searchText{
	float: left;
	width: 140px;
	height: 20px;
	border: none;
}
.searchImg{
	float: left;
	margin-top: 10px;
	background-color: #0cc8d9;
	border: none;
}

a:link{
	text-decoration:none;
} 
.post{
	height: 210px;
	border-style:solid; 
	border-width:0px 1px 1px 1px; 
	border-color:#e5e5e5;
	background-color: #ffffff;
}
.post-content{
	width: 730px;
	height: 210px;
	margin-left: 20px;
	float: left;
}
.top{
	padding-top: 10px;
	height: 30px;
}
.post-information{
	height: 40px;
	width: 400px;
	line-height: 40px;
	float: left;
	color: #808080;
	font-size: 14px;
}
.post-information a{
	color: #808080;
	font-size: 14px;
}
.reward{
	width: 50px;
	margin-left: 10px;
	float: left;
	line-height: 40px;
	color: #a6a6a6;
	font-size: 14px;
}
.reward-value{
	margin-top: 5px;
	text-align:center;
	width: 30px;
	height: 30px;
	background-color: #f2858e;
	color: #ffffff;
	float: left;
	line-height: 30px;
	border-radius: 5px;
}
.praise{
	margin-left: 40px;
	width: 40px;
	float: left;
	line-height: 40px;
	color: #a6a6a6;
	font-size: 14px;
}
.praise-value{
	margin-top: 5px;
	text-align:center;
	width: 50px;
	height: 30px;
	background-color: #f2858e;
	color: #ffffff;
	float: left;
	line-height: 30px;
	border-radius: 5px;
}
.question{
	height: 28px;
	line-height: 28px;
	color:#000000; 
}
.question a {
	color:#000000;
}
.post-description{
	height: 60px;
	width: 730px;
	margin-top: 10px;
	line-height: 25px;
	text-indent:30px;
	font-size: 14px;
	color: #808080;
}
.post-tags{
	margin-top: 10px;
}
.post-tags a{
	float: left;
	margin-right: 20px;
	color: #a6a6a6;
	border-radius: 12px;
	border-style:solid; 
	border-width:1px; 
	border-color:#a6a6a6;
	text-align: center;
	font-size: 14px;
	display:table;
	padding: 3px 5px 3px 5px;
}
.answer_num{
	text-align: center;
	width: 65px;
	height: 65px;
	float: left;
	font-size: 15px;
	color: #ffffff;
	background-color: #f2858e;
	margin-top: 10px;
	border-radius: 8px;	
}
.answer_num span{
	line-height: 30px;
	
}
.answer_num p{
	line-height: 20px;	
	margin-top: 5px;
}
.bottom{
	width: 848px;
	height: 70px;
	background-color: #ffffff;
	border-style:solid; 
	border-width:0px 1px 1px 1px; 
	border-color:#e5e5e5;
}
.ask{
	width: 140px;
	height: 35px;
	font-size: 17px;
	line-height: 35px;
	margin: auto;
	text-align:center;
	background-color: #0cc8d9;
	border-radius: 12px;
}
.ask a{
	color: #ffffff;
}
.tags{
	width: 199px;
	margin-top: 15px;
	border-style:solid; 
	border-width:2px; 
	border-color: #5a555521;
	border-radius: 5px;
}
.tags-title{
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	background-color: #ffffff;
}
.tags ul{
	margin-top: 0px;
	padding-left:0px;
	margin-bottom: 0px;
	font-size: 14px;
}
.tags ul li{
	display:block;
	width: 194px;
	height: 30px;
	padding-left: 5px;
	line-height: 30px;
	background-color: #ffffff;
}
.tags ul li a{
	color: #505050;
}
.tags ul li:nth-child(2n+1){
	background-color: #d2e8f1;
}
.mask{
	display:none;
	background:rgba(0,0,0,0.3);
	width:100%;
	height:100%;
	position:fixed;
}
.modalDialogcontent{
	display:none;
	background:white;
	width:500px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-200px;
	margin-top:-135px;
}
.ask-question{
	width: 500px;
	height:50px;
	margin-top: 30px;
}
.headAppear{
	float: left;
	margin-left: 20px;
	width: 50px;
	height: 50px;
	background-color: #a6a6a6;
}
.question-content{
	font-size: 16px;
	float: left;
	margin-left: 10px;
	height: 30px;
	width: 400px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 0;
	overflow: hidden;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	background: transparent;
	border: none;
	outline: none;
	resize: none;
}
.close_modalDialogcontent{
	position:absolute;
	font-size:20px;
	right: 0px;
	width:20px;
	height:20px;
	cursor:pointer;
}
.question-inspection{
	height: 20px;
	width: 500px;
}
.question-inspection p{
	height: 20px;
	width: 450px;
	text-align: right;
	color: red;
	font-size: 14px;
	margin: auto;
}

.text{
	width: 460px;
	height: 120px;
	margin: 0 auto;
	margin-top: 5px;
	border: #cccccc solid 1px;
}
.toolbar{
	width: 460px;
	height: 25px;
	border-style:solid; 
	border-width:0px 0px 1px 0px; 
	border-color:#e5e5e5;	
}
.toolbar img{
	float: left;
	margin-right: 5px;
}
.more{
    float: right;
    margin-right: 10px;
}
.addtags{
	width: 460px;
	margin: 0 auto;
	margin-top: 10px;
}
.addtags-description{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	float: left;
	margin: 5px 10px 5px 0px;
	padding: 2px 3px 2px 3px;
}
.tagsContaine .tagList .tagItem{
	height: 20px;
	line-height: 20px;
	background-color: #66CCFF;
	padding: 2px 3px 2px 3px;
	text-align: center;
	float: left;
	margin: 5px 10px 5px 0px;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 2px;
	cursor: pointer;
}
.tagsContaine .tagList .tagItem:hover{
	background-color: #0099FF;
}
.tagsContaine .tagList .tagItem .delete{
	float: right;
	width: 15px;
	height: 15px;
	background-image: url(../../images/community/x.png);
	background-repeat: round;
	margin-top: -10px;
	margin-right: -10px;
	display: none;
}
.tagsContaine .tagList .tagItem:hover .delete{
	display: block;
}
.tagsContaine .tagInput{
	width: 150px;
	outline: none;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	border: solid thin #AAAAAA;
	border-radius: 5px;
	padding: 2px;
	margin: 5px 0px;
	text-align: center;
}
.tagsContaine .tagInput:focus{
	border-color: #66CCFF;
}
.add-buttom{
	width: 460px;
	height: 20px;;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
}
.radio{
	height: 20px;	
	line-height: 20px;
	font-size: 15px;
	float: left;
}
.submit{
	color: #0ec8d9;
	float: right;
	margin-right: 20px;
	font-size: 15px;
}
